{% extends 'core/base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Successful payment' %}
{% endblock %}

{% block description %}
    <meta name="description" content="Описание страницы">
{% endblock %}

{% block body %}
    <div class="Middle Middle_top">
        <div class="central_check_block">
            <div class="paper_block">
                <div class="receipt_header">
                    <p>{% trans 'The payment was successful' %}!</p>
                    <p>{% trans 'Thanks for the purchase' %}!</p>
                </div>
                <div class="receipt_info_block">
                    <p>{% trans 'Order number' %}: {{ order.pk }}</p>
                    <p>
                        {% if all_order %}
                            {% trans 'The order has been paid in full' %}
                        {% else %}
                            <b>{% trans 'The order has been partially paid for' %}</b>
                        {% endif %}
                    </p>
                    <p>
                        {% trans 'Date' %}: {{ date }}
                    </p>
                </div>
                <p>{% trans 'Paid goods' %}:</p>
                <div class="receipt_product_list">
                    {% for item in order.order_items.all %}
                        <p>{% trans 'Seller' %}: {{ item.seller.name }}</p>
                        <div class="receipt_product_block">
                            <div class="receipt_product_name">
                                <a href="{{ item.product.get_absolute_url }}">
                                    {{ item.product.name|truncatechars:80 }}
                                </a>
                            </div>
                            <div class="receipt_product_price_and_quantity">
                                {{ item.quantity }} х {{ item.price }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="receipt_total_price">
                        {% if delivery_price %}
                            <p>{% trans 'The cost of delivery' %}: {{ delivery_price }}</p>
                        {% endif %}
                        <p>{% trans 'Total cost' %}: {{ total_price }}</p>
                    </div>
                    <div class="receipt_navigate">
                        <p>
                            <a href="{{ order.get_absolute_url }}">
                                {% trans 'To the order page' %}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}