.Profile-avatar {
    width: 300px; /* ширина рамки */
    height: 300px; /* высота рамки */
    border-radius: 50%; /* округление рамки для создания круга */
    overflow: hidden; /* обрезка изображения внутри рамки */
    background-color: #f0f0f0; /* цвет фона рамки */
    position: relative;
    aspect-ratio: 1 / 1;
}

.Profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* заполнение рамки изображением */
    position: absolute;
    top: 0;
    left: 0;
}

.Profile-avatar-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.Profile-avatar-button:hover {
    background-color: #0056b3;
}

.Profile-file {
    display: none;
}

.error-input {
    color: red
}

.Profile-avatar-wrapper {
    display: inline-block;
    cursor: pointer;
}