{% extends 'core/base.html' %}
{% load static %}

{% block links %}
    <!--    <title>Megano</title>-->
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
    <script src="{% static 'assets/plg/CountDown/countdown.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{% endblock %}


{% block body %}
    <body class="Site">
        <!--if lt IE 8
      p.error-browser
          | Ваш браузер&nbsp;
          em устарел!&nbsp;
          a(href="http://browsehappy.com/") Выберите новую версию
              +s
              | браузера здесь&nbsp;
          | для правильного отображения сайта.
      -->
        <main class="Middle">
            <div class="wrapper">
                <div class="header">
                    <h3 class="sign-in">Вход</h3>
                </div>
                <div class="clear"></div>

                <form method="post">
                    {% csrf_token %}
                    <div>
                        <input class="user-input" type="text" name="username" id="email" placeholder="E-mail" />
                    </div>
                    <div>

                        <input type="password" name="password" id="pass" placeholder="*********" />
                    </div>
                    <div>
                        <input type="submit" value="Войти" />
                    </div>
                    <a class="forgot-label" href="{% url 'custom_auth:password_reset' %}">Забыли пароль?</a>
                    <a class="registr" href="registr.html">
                        Регистрация
                    </a>
                </form>
            </div>
        </main>

    {% block script %}
            <!--+Middle-->
        <!--    +div.-top-->
        <!--        +breadcrumbs('Главная','Портфолио')-->
        <!--    +Article('portfolio')-->
        <!---->
        <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
        <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
        <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
        <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
        <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
        <script src="{% static 'assets/js/scripts.js' %}"></script>
    {% endblock %}
    </body>

{% endblock %}

