{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block links %}
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/utils.css' %}">
    <script src="{% static 'assets/plg/CountDown/countdown.js' %}"></script>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
{% endblock %}

{% block title %}
     {% trans 'Detail discount' %}
{% endblock %}

{% block body %}
  <div class="Discount-container wrap-container">
    <h2>{{ discount.name }}</h2>
    <div class="Discount-block Discount-list-block">
      <div class="Discount-image-block">
        <img class="Discount-image-container-details" src="{% static 'discount/images/special_discount.jpg' %}">
      </div>
      <div class="Discount-details-block">
        <h3>{% trans 'Type discount' %}: {{ description_type }}</h3>
        {% if products %}
          {% for product in products.all %}
            <ul>
              <li>
                <h4>{{ product.name }}</h4>
                {% for price in product.prices.all %}
                  <a href="{{ price.product.get_absolute_url }}">{{ price.price }}</a>
                {% endfor %}
              </li>
            </ul>

          {% endfor %}
        {% elif product_groups %}
          <h3>{% trans 'Name group products' %}: {{ product_groups.name }}</h3>
          <h3>{% trans 'Description group products' %}: {{ product_groups.description }}</h3>
          <h3>{% trans 'Archived status' %}: {{ product_groups.archived }}</h3>
          {% for product in product_groups %}
            <ul>
              <li>
                <h4>{{ product.name }}</h4>
                {% for price in product.prices.all %}
                  <a href="{{ price.product.get_absolute_url }}">{{ price.price }}</a>
                {% endfor %}
              </li>
            </ul>

          {% endfor %}
        {% elif cart_products %}
          {% if cart_products.quantity_l %}
            <h3>{% trans 'Min quantity products in cart' %}: {{ cart_products.quantity_l }}</h3>
          {% endif %}
          {% if cart_products.quantity_g %}
            <h3>{% trans 'Max quantity products in cart' %}: {{ cart_products.quantity_g }}</h3>
          {% endif %}
          {% if cart_products.total_cost_l %}
            <h3>{% trans 'Total cost products in cart' %}: {{ cart_products.total_cost_l }}</h3>
          {% endif %}
        {% endif %}

        <h3>{% trans 'Discount calculation method' %}: {{ description_method }}</h3>
        {% if percent %}
          <h4>{% trans 'Percent discount' %}: {{ percent }}%</h4>
        {% elif sum_discount %}
          <h4>{% trans 'The discount is valid for the amount of' %}: {{ sum_discount }}$</h4>
        {% elif fixed_price %}
          <h4>{% trans 'The discount has a fixed price' %}: {{ fixed_price }}$</h4>
        {% endif %}

        <h3>{% trans 'Discount priority' %}: {{ description_priority }}</h3>
      </div>
    </div>

    <a href="{% url 'discount:discounts' %}">{% trans 'Back to discounts' %}</a>
  </div>


  {% block script %}
    <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
  {% endblock %}

{% endblock %}
