{% extends 'core/base.html' %}
{% load static %}

{% block description %}
    <meta name="description" content="Описание страницы">
{% endblock %}

{% block links %}
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
    <script src="{% static 'assets/plg/CountDown/countdown.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{% endblock %}

{% block title %}
    Каталог
{% endblock %}

{% block body %}
    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Фильтр</strong>
                        </header>
                        <div class="Section-columnContent">
                            <form class="form" action="#" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="range Section-columnRange">
                                        <input class="range-line" id="price" name="price" type="text" data-type="double" data-min="1" data-max="500000" data-from="7" data-to="50000" />
                                        <div class="range-price">Цена:&#32;
                                            <div class="rangePrice">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-input form-input_full" id="title"
                                           name="title" type="text"
                                           placeholder="Название"/>
                                </div>
                                <div class="form-group">
                                    <strong class="Section-title">Продавец</strong>
                                    <select id="seller" name="seller[]" multiple>
                                        {% for seller in sellers %}
                                            <option value="{{ seller.id }}">
                                                {{ seller.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <strong class="Section-title">Производитель:</strong>
                                    <select id="manufacture" name="manufacture[]" multiple>
                                        {% for manufacture in manufactures %}
                                            <option value="{{ manufacture }}">
                                                {{ manufacture }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="toggle">
                                        <input type="checkbox" name="limited_edition">
                                        <span class="toggle-box"></span>
                                        <span class="toggle-text">Только ограниченные серии</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <strong class="Section-title">Характеристики</strong>
                                    {% for name, values in grouped_specifications %}
                                        <label class="toggle">
                                            <span class="toggle-text">{{ name }}</span>
                                        </label>
                                        <div>
                                            {% for value in values %}
                                                <label class="toggle">
                                                    <input type="checkbox" name="specification">
                                                    <span class="toggle-box"></span>
                                                    <span class="toggle-text">{{ value }}</span>
                                                </label>
                                            {% endfor %}
                                            <br><br>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <div class="buttons">
                                        <button type="submit" class="btn btn_square btn_dark btn_narrow">Фильтр</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Популярные тэги</strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="buttons">
                                {% for tag in tags %}
                                    <a class="btn btn_default btn_sm" href="#">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Sort">
                        <div class="Sort-title">Сортировать по:
                        </div>
                        <div class="Sort-variants">
                            <a class="Sort-sortBy {{ sort.quantity.style }}" href="{% url 'catalog:catalog' category_id %}?sort={{ sort.quantity.param }}">Популярности</a>
                            <a class="Sort-sortBy {{ sort.price.style }}" href="{% url 'catalog:catalog' category_id %}?sort={{ sort.price.param }}">Цене</a>
                            <a class="Sort-sortBy {{ sort.rating.style }}" href="{% url 'catalog:catalog' category_id %}?sort={{ sort.rating.param }}">Отзывам</a>
                            <a class="Sort-sortBy {{ sort.date.style }}" href="{% url 'catalog:catalog' category_id %}?sort={{ sort.date.param }}">Новизне</a>
                        </div>
                    </div>
                    <div class="Cards">
                        {% csrf_token %}
                        {% for product in products %}
                            <div class="Card" {% if forloop.counter > 4 %} hide_md {% endif %}
                                             {% if forloop.counter > 6 %} hide_1450 {% endif %}>
                                <a class="Card-picture" href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.preview.url }}" alt=""/>
                                </a>
                                <div class="Card-content">
                                    <strong class="Card-title">
                                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                    </strong>
                                    <div class="Card-description">
                                        <div class="Card-cost">
                                            <span class="Card-price">{{ product.price|floatformat:2 }}$ </span>
                                        </div>
                                        <div class="Card-category">{{ product.category }}
                                        </div>
                                        <div class="Card-hover">
                                            <form method="post" action="{% url 'comparison:comparison_add'%}">
                                                {% csrf_token %}
                                                <input type="hidden" name="product" value="{{product.pk}}">
                                                <button class="Card-btn-comp" type="submit"></button>
                                            </form>
                                            <a class="Card-btn" data-product_id="{{ product.pk }}" data-price_id="{{ product.price_pk }}">
                                                <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>

                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                     <div class="Pagination">
                            <div class="Pagination-ins">
                                {% if is_paginated %}
                                    {% if page_obj.has_previous %}
                                        <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.previous_page_number }}">
                                            <img src="{% static 'assets/img/icons/prevPagination.svg' %}" alt="prevPagination.svg"/>
                                        </a>
                                    {% endif %}
                                    {% for num in page_obj.paginator.page_range %}
                                        {% if page_obj.number == num %}
                                            <a class="Pagination-element Pagination-element_current" href="#">
                                                <span class="Pagination-text">{{ num }}</span>
                                            </a>
                                        {% else %}
                                            <a class="Pagination-element" href="?page={{ num }}">
                                                <span class="Pagination-text">{{ num }}</span>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <a class="Pagination-element Pagination-element_next" href="?page={{ page_obj.next_page_number }}">
                                            <img src="{% static 'assets/img/icons/nextPagination.svg' %}" alt="nextPagination.svg"/>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                     </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

<!--    <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>-->
<!--    <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>-->
<!--    <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>-->
<!--    <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>-->
<!--    <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/scripts.js' %}"></script>-->
    <script src="{% static 'assets/js/cart/collect_data_cart.js' %}"></script>
    <script src="{% static 'assets/js/cart/add_product_cart.js' %}"></script>
{% endblock %}