{% extends 'core/base.html' %}
{% load static %}
{% load product_detail_tags %}

{% block description %}
    <meta name="description" content="Описание страницы">
{% endblock %}

{% block links %}
    <!--    <title>Megano</title>-->
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
    <script src="{% static 'assets/plg/CountDown/countdown.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{% endblock %}

{% block title %}
    {% trans 'Product' %}:
{% endblock %}

{% block body %}
    <div class="Middle Middle_top">
        <div class="Section">
            <div class="wrap">
                <div class="Product">
                    <div class="ProductCard">
                        <div class="ProductCard-look">
                            <div class="ProductCard-photo">
                                <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
                            </div>
                        </div>
                        <div class="ProductCard-picts">
                            {% with images=product.images.all %}
                                {% if images %}
                                    {% for img in images %}
                                        <a class="ProductCard-pict ProductCard-pict_ACTIVE"
                                           href="{{ img.image.url }}">
                                            <img src="{{ img.image.url }}"
                                                 alt="bigGoods.png"/>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="ProductCard-desc">
                            <div class="ProductCard-header">
                                <h2 class="ProductCard-title"> {{ product.name }}
                                </h2>
                                <div class="ProductCard-info">
                                    <div class="ProductCard-cost">
                                        <div class="ProductCard-price">
                                            {% get_lower_price sellers as lower_price %}
                                            {{ lower_price|default:"The product is not on sale yet"|trans }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if product.short_description %}
                                <div class="ProductCard-text">
                                    <ul>
                                        <li>
                                            {{ product.short_description }}
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="ProductCard-cart">
                                <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                                    <div class="Amount Amount_product">
                                        <button class="Amount-remove" type="button">
                                        </button>
                                        <input class="Amount-input form-input" name="amount" type="text" value="1"/>
                                        <button class="Amount-add" type="button">
                                        </button>
                                    </div>
                                </div>
                                <div class="ProductCard-cartElement">
                                    <a class="btn btn_primary" href="#modal_open">
                                        <img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}"
                                             alt="cart_white.svg"/>
                                        <span class="btn-content">{% trans 'Buy' %}</span>
                                    </a>
                                </div>
                                <div id="modal_open" class="my_modal">
                                    <div class="my_modal-dialog">
                                        <div class="my_modal-content">
                                            <div class="my_modal-header">
                                                <p class="my_modal-title">{% trans 'Congratulate' %}!</p>
                                                <a href="#" title="Закрыть модальное окно" class="close">×</a>
                                            </div>
                                            <div class="my_modal-body">
                                                <p>{% trans 'The product has been successfully added to the cart' %}!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ProductCard-footer">
                                <div class="ProductCard-tags">
                                    <strong class="ProductCard-tagsTitle">{% trans 'Tags' %}:
                                    </strong>
                                    {% for tag in product.tags.all %}
                                        <a href="#">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Tabs Tabs_default">
                        <div class="Tabs-links">
                            <a class="Tabs-link_ACTIVE Tabs-link" href="#description">
                                <span>{% trans 'Description' %}</span>
                            </a>
                            <a class="Tabs-link" href="#sellers">
                                <span>{% trans 'Sellers' %}</span>
                            </a>
                            <a class="Tabs-link" href="#addit">
                                <span>{% trans 'Characteristic' %}</span>
                            </a>
                            <a class="Tabs-link" id="main-count" href="#reviews">
                                <span></span>
                            </a>
                        </div>
                        <div class="Tabs-wrap">
                            <div class="Tabs-block" id="description">
                                <h2>{% trans 'Description' %}: {{ product.name }}
                                </h2>
                                <p>
                                    {{ product.description|linebreaks }}
                                </p>
                                <img class="pict pict_right"
                                     src="{{ product.preview.url }}"
                                     alt="bigGoods.png"/>
                                <ul>
                                    {% if product.manufacture %}
                                        <li>
                                            {% trans 'Manufacturer's country' %}: {{ product.manufacture }}
                                        </li>
                                    {% endif %}
                                </ul>
                                <div class="clearfix">
                                </div>
                                <div class="table">
                                    <table>
                                        <tr>
                                            <th>{% trans 'Characteristic' %}
                                            </th>
                                            <th>{% trans 'Value' %}
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Device Type' %}
                                            </td>
                                            <td>{{ product.product_type }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="Tabs-block" id="sellers">
                                <div class="Section-content">
                                    <div class="Orders">
                                        {% for seller in sellers %}
                                            <div class="Order Order_anons">
                                                <div class="Order-personal">
                                                    <div class="row">
                                                        <div class="row-block">
                                                            <a class="Order-title" href="oneorder.html">
                                                                {{ seller.name }}
                                                            </a>
                                                            <div class="ProductCard-cartElement"
                                                                 style="margin-top: 10px;">
                                                                <a class="btn btn_primary" href="#modal_open">
                                                                    <img class="btn-icon"
                                                                         src="{% static 'assets/img/icons/card/cart_white.svg' %}"
                                                                         alt="cart_white.svg"/>
                                                                    <span class="btn-content">{% trans 'Buy' %}</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="row-block">
                                                            <div class="Order-info Order-info_delivery">
                                                                <div class="Order-infoType">{% trans 'Type delivery' %}:
                                                                </div>
                                                                <div class="Order-infoContent">
                                                                    {% get_seller_data_list seller.delivery_methods.all as delivery_list %}
                                                                    {{ delivery_list }}
                                                                </div>
                                                            </div>
                                                            <div class="Order-info Order-info_pay">
                                                                <div class="Order-infoType">{% trans 'Payment' %}:
                                                                </div>
                                                                <div class="Order-infoContent">
                                                                    {% get_seller_data_list seller.payment_methods.all as payment_list %}
                                                                    {{ payment_list }}
                                                                </div>
                                                            </div>
                                                            <div class="Order-info">
                                                                <div class="Order-infoType">{% trans 'Price' %}:
                                                                </div>
                                                                <div class="Order-infoContent">
                                                                    {% get_seller_price seller product.pk as seller_price %}
                                                                    <span class="Order-price">{{ seller_price }}$</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="Tabs-block" id="addit">
                                <div class="Product-props">
                                    {% if product.specifications %}
                                        {% for specification in product.specifications.all %}
                                            <div class="Product-prop">
                                                <strong>
                                                    {{ specification.name.name }}
                                                </strong>
                                                <span>
                                                {{ specification.value }}
                                            </span>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <h1>{% trans 'There are no characteristics yet' %}</h1>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="Tabs-block" id="reviews">
                                <header class="Section-header">
                                    <h3 class="Section-title" id="small-count"></h3>
                                </header>
                                {% if user.is_authenticated %}
                                    <header class="Section-header Section-header_product" id="create-get-review">
                                        <h3 class="Section-title">{% trans 'Add a review' %}</h3>
                                    </header>
                                    <div class="Tabs-addComment">
                                        <form id="reviewForm" class="form" action="#" method="post">
                                            <div class="form-group">
                                            <textarea class="form-textarea" name="review" id="review"
                                                      placeholder="Отзыв"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn_muted" type="submit">{% trans 'Send review' %}</button>
                                            </div>
                                        </form>
                                    </div>
                                {% else %}
                                    <div class="non-auth-block">
                                        <p>{% trans 'To view all the reviews and be able to leave them' %}</p>
                                        <p>{% trans 'you must register' %}</p>
                                        <div class="non-auth-block-buttons">
                                            <a class="non-auth-block-button" href="{% url 'account:login' %}">{% trans 'Login' %}</a>
                                            <a class="non-auth-block-button" href="{% url 'account:register' %}">{% trans 'Register' %}</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>const getReviews = "{% url 'review:get_product_reviews' product_id=product.pk %}";</script>
    <script>const CREATE_REVIEW = "{% url 'review:review_create' %}";</script>
    <script>const deleteReviewUrl = "{% url 'review:review_delete' pk=0 %}";</script>
    <script>const updateReviewUrl = "{% url 'review:review_update' pk=0 %}";</script>
    <script>let product_id = "{{ product.pk }}";</script>
    <script>let current_user = "{{ user.login }}";</script>
    <script>let current_user_id = "{{ user.pk }}";</script>
    <script>let current_status = {{ user.is_staff|yesno:"true,false" }};</script>
    <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <script src="{% static 'catalog/js/catalog_product_detail.js' %}"></script>
{% endblock %}
