{% extends 'core/base.html' %}
{% load static %}

{% block description %}
    <meta name="description" content="Описание страницы">
{% endblock %}

{% block links %}
    <!--    <title>Megano</title>-->
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
    <script src="{% static 'assets/plg/CountDown/countdown.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{% endblock %}

{% block title %}
    Cart
{% endblock %}

{% block body %}
    <div class="Middle Middle_top">
        <div class="Section">
            <div class="wrap">
                <div class="Product Products-in-cart">
                    {% if info_cart %}
                    {% for info_product in info_cart %}
                    <div class="ProductCard ProductCard-inCart" id="{{ info_product.product.pk }}">
                        <div class="ProductCard-look ProductCard-inCart">
                            <div class="ProductCard-photo">
                                <img src="{{ info_product.product.preview }}" alt="{{ info_product.product.preview.name }}">
                            </div>
                            <div class="ProductCard-desc">
                                <div class="Short-description">{{ info_product.product.short_description }}</div>
                                <div class="Seller-product">{{ info_product.seller }}</div>
                                <div class="ProductCard-select-sellers-product">
                                    <select class="Select-seller-product" data-product_id="{{ info_product.product.pk }}" onchange="updateProductInCart()">
                                        {% for seller in info_product.sellers_product %}
                                        {% if seller.pk == info_product.seller.pk %}
                                            <option value="{{ seller.pk }}" selected>{{ seller.name }}</option>
                                        {% else %}
                                            <option value="{{ seller.pk }}">{{ seller.name }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="ProductCard-desc ProductCard-desc-in-cart">
                                <div class="ProductCard-header">
                                    <h2 class="ProductCard-title"> {{ info_product.product.name }}
                                    </h2>
                                    <div class="ProductCard-info">
                                        <div class="ProductCard-cost">
                                            <div class="ProductCard-price">
                                                {{ info_product.total_cost }} $
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ProductCard-cart">
                                    <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                                        <div class="Amount Amount_product">
                                            <button class="Amount-remove" type="button">
                                            </button>
                                            <input class="Amount-input form-input" name="amount" type="text" value="{{ info_product.quantity }}" data-price_product="{{ info_product.price }}" data-product_id="{{ info_product.product.pk }}"/>
                                            <button class="Amount-add" type="button">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="ProductCard-cartElement">
                                        <a class="btn btn_primary" data-product_id="{{ info_product.product.pk }}">
                                            <img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}"
                                                 alt="cart_white.svg"/>
                                            <span class="btn-content">Удалить</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="ProductCard-footer">
                                <div class="ProductCard-tags">
                                    <strong class="ProductCard-tagsTitle">Тэги:
                                    </strong>
                                    {% for tag in info_product.product.tags.all %}
                                        <a href="#">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="ProductCard-look">
                        <h2 class="ProductCard-title"> В корзине пока что пусто </h2>
                        <a href="{% url 'catalog:catalog' %}">Вернуться к выбору товаров</a>
                    </div>
                    {% endif %}
                </div>
                <div class="Place_an_order">
                    <a class="btn btn_place_an_order">
                        <span class="btn-content">
                            Перейти к оформлению
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'assets/js/cart/remove_product_cart.js' %}"></script>
    <script src="{% static 'assets/js/cart/update_product_cart.js' %}"></script>
    <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
{% endblock %}
