{% extends 'core/base.html' %}  
{% load static %}  

{% block links %}
  <!--    <title>Megano</title>-->
  <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
  <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
  <script src="{% static 'assets/plg/CountDown/countdown.js' %}"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{% endblock %}


{% block body %}
  <div class="wrapper">
    <div class="header">
        <h3 class="sign-in">Восстановление пароля (1/2)</h3>
        <h5>Для восстановления пароля введите адрес электронной почты, на которую зарегистрирована учетная запись</h5>
    </div>

    <form method="post">
        {% csrf_token %}
        <div>
            <input class="user-input" type="email" name="email" id="email" placeholder="E-mail" />
        </div>
        <div>
            <input type="submit" value="Получить проверочный код" />
        </div>
        <a class="registr" href="{% url 'account:register' %}">
            Регистрация
        </a>
    </form>
  </div>

  {% block script %}
        <!--+Middle-->
    <!--    +div.-top-->
    <!--        +breadcrumbs('Главная','Портфолио')-->
    <!--    +Article('portfolio')-->
    <!---->
    <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
  {% endblock %}

{% endblock %}
  
