{% extends 'core/base.html' %}
{% load static %}

{% block links %}
    <!--    <title>Megano</title>-->
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
    <script src="{% static 'assets/plg/CountDown/countdown.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{% endblock %}

{% block body %}
    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Навигация
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="NavigateProfile">
                                <ul class="menu menu_vt">
                                    <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'account:personal-cabinet' %}">Личный кабинет</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="{% url 'account:profile' %}">Профиль</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="{% url 'account:profile-orders' %}">История заказов</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Account">
                        <div class="Account-group">
                            <div class="Account-column">
                                <div class="Account-avatar">
                                    {% if profile.photo %}
                                        <img src="{{ profile.photo.url }}" alt="No photo avatar" />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="Account-column">
                                <div class="Account-name">
                                </div><a class="Account-editLink" href="{% url 'account:profile' %}">Редактировать профиль</a>
                            </div>
                        </div>
                        <div class="Account-group">
                            {% if last_order %}
                                <div class="Account-column Account-column_full">
                                    <div class="Order Order_anons">
                                        <div class="Order-personal">
                                            <div class="row">
                                                {% if last_order %}
                                                    <div class="row-block"><a class="Order-title" href="oneorder.html">Заказ<span class="Order-numberOrder"> №{{ last_order.pk }} </span>от&#32;<span class="Order-dateOrder">{{ last_order.created_at|date:"d F Y" }}</span></a>
                                                        <div class="Account-editLink"><a href="#">История заказов</a>
                                                        </div>
                                                    </div>
                                                    <div class="row-block">

                                                        <div class="Order-info Order-info_delivery">
                                                            <div class="Order-infoType">Тип доставки:
                                                            </div>
                                                            <div class="Order-infoContent">{{ last_order.delivery_method }}
                                                            </div>
                                                        </div>
                                                        <div class="Order-info Order-info_pay">
                                                            <div class="Order-infoType">Оплата:
                                                            </div>
                                                            <div class="Order-infoContent">{{ last_order.payment_method }}
                                                            </div>
                                                        </div>
                                                        <div class="Order-info">
                                                            <div class="Order-infoType">Общая стоимость:
                                                            </div>
                                                            <div class="Order-infoContent">200.99$
                                                            </div>
                                                        </div>
                                                        <div class="Order-info Order-info_status">
                                                            <div class="Order-infoType">Статус:
                                                            </div>
                                                            <div class="Order-infoContent">{{ last_order.status }}
                                                            </div>
                                                        </div>

                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div>
                                    <h1>У вас отсутствуют заказы</h1>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block script %}
            <!--+Middle-->
        <!--    +div.-top-->
        <!--        +breadcrumbs('Главная','Портфолио')-->
        <!--    +Article('portfolio')-->
        <!---->
        <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
        <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
        <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
        <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
        <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
        <script src="{% static 'assets/js/scripts.js' %}"></script>
    {% endblock %}

{% endblock %}
