{% extends 'core/base.html' %}
{% load static %}

{% block links %}
    <!--    <title>Megano</title>-->
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
    <script src="{% static 'assets/plg/CountDown/countdown.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{% endblock %}

{% block body %}
    <body class="Site">
    <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->

        <main class="Middle">
            <div class="wrapper">
                <div class="header">
                    <h3 class="sign-in">Регистрация</h3>
                </div>
                <div class="clear"></div>
                <form method="post">
                    {% csrf_token %}

                    <label class="form-label" for="email">Email</label>
                    <input class="form-input" id="email" type="email" name="email">
                    {% for error in register_form.email.errors %}
                        <div class="error-input">{{ error }}</div>
                    {% endfor %}

                    <label class="form-label" for="login">Никнейм</label>
                    <input class="form-input" id="login" type="text" name="login">
                    {% for error in register_form.login.errors %}
                        <div class="error-input">{{ error }}</div>
                    {% endfor %}

                    <label class="form-label" for="last_name">Фамилия</label>
                    <input class="form-input" id="last_name" type="text" name="last_name">
                    {% for error in profile_registration_form.last_name.errors %}
                        <div class="error-input">{{ error }}</div>
                    {% endfor %}

                    <label class="form-label" for="first_name">Имя</label>
                    <input class="form-input" id="first_name" type="text" name="first_name">
                    {% for error in profile_registration_form.first_name.errors %}
                        <div class="error-input">{{ error }}</div>
                    {% endfor %}

                    <label class="form-label" for="patronymic">Отчество</label>
                    <input class="form-input" id="patronymic" type="text" name="patronymic">
                    {% for error in profile_registration_form.patronymic.errors %}
                        <div class="error-input">{{ error }}</div>
                    {% endfor %}

                    <label class="form-label" for="phone">Номер телефона</label>
                    <input class="form-input" id="phone" type="text" name="phone">
                    {% for error in profile_registration_form.phone.errors %}
                        <div class="error-input">{{ error }}</div>
                    {% endfor %}

                    <label class="form-label" for="password1">Пароль</label>
                    <input class="form-input" id="password1" type="password" name="password1">
                    {% for error in register_form.password1.errors %}
                        <div class="error-input">{{ error }}</div>
                    {% endfor %}

                    <label class="form-label" for="password2">Подтверждение пароля</label>
                    <input class="form-input" id="password2" type="password" name="password2">
                    {% for error in register_form.password2.errors %}
                        <div class="error-input">{{ error }}</div>
                    {% endfor %}

                    <input type="submit" value="Зарегистрироваться" />

                    <a class="registr" href="{% url 'account:login' %}">Вход</a>
                    <div class="clear"></div>
                </form>
            </div>
        </main>

    {% block script %}
            <!--+Middle-->
        <!--    +div.-top-->
        <!--        +breadcrumbs('Главная','Портфолио')-->
        <!--    +Article('portfolio')-->
        <!---->
        <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
        <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
        <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
        <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
        <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
        <script src="{% static 'assets/js/scripts.js' %}"></script>
    {% endblock %}
    </body>

{% endblock %}
