{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block description %}
    <meta name="description" content="Описание страницы">
{% endblock %}


{% block links %}
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
    <script src="{% static 'assets/plg/CountDown/countdown.js' %}"></script>
{% endblock %}

{% block title %}
    {{ user.login }} {% trans 'order' %}
{% endblock %}

{% block body %}
    <div class="Middle Middle_top">
        {% if user.is_authenticated %}
            <div class="Section Section_column Section_columnRight Section_columnWide Order">
                <div class="wrap">

                    <div class="Section-column">
                        <div class="Section-columnSection">
                            <header class="Section-header">
                                <strong class="Section-title">{% trans 'Filling progress' %}
                                </strong>
                            </header>
                            <div class="Section-columnContent">
                                <div class="NavigateProfile">
                                    <ul class="menu menu_vt">
                                        <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="#step1">
                                            {% trans 'Step 1. User Parameters' %}</a>
                                        </li>
                                        <li class="menu-item"><a class="menu-link" href="#step2">
                                            {% trans 'Step 2. Shipping method' %}</a>
                                        </li>
                                        <li class="menu-item"><a class="menu-link" href="#step3">
                                            {% trans 'Step 3. Payment method' %}</a>
                                        </li>
                                        <li class="menu-item"><a class="menu-link" href="#step4">
                                            {% trans 'Step 4. Order confirmation' %}</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="Section-content">
                        <form class="form" action="{% url 'order:order_create' %}" method="post">
                            {% csrf_token %}
                            <div class="Order-block Order-block_OPEN" id="step1">
                                <header class="Section-header Section-header_sm">
                                    <h2 class="Section-title">{% trans 'Step 1. User Parameters' %}
                                    </h2>
                                </header>
                                <div class="row">
                                    <div class="row-block">
                                        <div class="form-group">
                                            <label class="form-label" for="name">{% trans 'BIO' %}
                                            </label>
                                            <input class="form-input" id="name" name="name" type="text"
                                                   value="{{ name|default:'' }}" oninput="updateOrderInfo()"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="phone">{% trans 'Phone' %}</label>
                                            <input class="form-input" id="phone" name="phone" type="text"
                                                   value="{{ phone|default:'' }}" oninput="updateOrderInfo()"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="mail">E-mail
                                            </label>
                                            <input class="form-input" id="mail" name="mail" type="text"
                                                   value="{{ email|default:'' }}"
                                                   data-validate="require" oninput="updateOrderInfo()"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="Order-footer"><a class="btn btn_success Order-next" href="#step2">
                                    {% trans 'Next' %}</a>
                                </div>
                            </div>
                            <div class="Order-block" id="step2">
                                <header class="Section-header Section-header_sm">
                                    <h2 class="Section-title">{% trans 'Step 2. Shipping method' %}
                                    </h2>
                                </header>
                                <div class="form-group">
                                    <div class="delivery_choices">
                                        <div class="store_delivery">
                                            <label>
                                                <input type="radio" name="choice_delivery_type" checked value="store"
                                                       onclick="toggleDeliveryOptions()">
                                                {% trans 'We will take care of the delivery' %}
                                            </label>
                                            <div class="store_delivery_choices show">
                                                <div>
                                                    <label class="toggle">
                                                        <input type="radio" name="delivery" value="SS"/><span
                                                            class="toggle-box"></span>
                                                        <span class="toggle-text">{% trans 'Standard delivery' %}</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <label class="toggle">
                                                        <input type="radio" name="delivery" value="SE"/><span
                                                            class="toggle-box"></span>
                                                        <span class="toggle-text">{% trans 'Express delivery' %}</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="seller_delivery">
                                            <label>
                                                <input type="radio" name="choice_delivery_type" value="seller"
                                                       onclick="toggleDeliveryOptions()">
                                                {% trans 'The delivery will be carried out by the seller' %}
                                            </label>
                                            <div class="seller_delivery_choices hidden">
                                                {% include 'order/delivery_block.html' %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="delivery_p_block">
                                    <strong>
                                        {% trans 'Fill in the information about the city and the delivery address' %}<br>
                                        {% trans 'Delivery will be made to this address,' %}
                                        {% trans 'or the nearest pick-up point will be found, ' %}<br>
                                        {% trans 'depending on your choice.' %}
                                    </strong>
                                </p>
                                <div class="form-group">
                                    <label class="form-label" for="city">{% trans 'City' %}
                                    </label>
                                    <input class="form-input" id="city" name="city" type="text"
                                           oninput="updateOrderInfo()"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="address">{% trans 'Address' %}
                                    </label>
                                    <textarea class="form-textarea" name="address" id="address"
                                              oninput="updateOrderInfo()"></textarea>
                                </div>
                                <div class="Order-footer"><a class="btn btn_success Order-next" href="#step3">
                                    {% trans 'Next' %}</a>
                                </div>
                            </div>
                            <div class="Order-block" id="step3">
                                <header class="Section-header Section-header_sm">
                                    <h2 class="Section-title">{% trans 'Step 3. Payment method' %}
                                    </h2>
                                </header>
                                {% include 'order/payments_block.html' %}
                                <div class="Order-footer"><a class="btn btn_success Order-next" href="#step4">
                                    {% trans 'Next' %}</a>
                                </div>
                            </div>
                            <div class="Order-block" id="step4">
                                <header class="Section-header Section-header_sm">
                                    <h2 class="Section-title">{% trans 'Step 4. Order confirmation' %}
                                    </h2>
                                </header>
                                <!--+div.Order.-confirmation-->
                                <div class="Order-infoBlock">
                                    <div class="Order-personal">
                                        <div class="row">
                                            <div class="row-block">
                                                <div class="Order-info">
                                                    <div class="Order-infoType">{% trans 'BIO' %}:</div>
                                                    <div class="Order-infoContent" id="order-info-content"></div>
                                                </div>
                                                <div class="Order-info">
                                                    <div class="Order-infoType">{% trans 'Phone' %}:
                                                    </div>
                                                    <div class="Order-infoContent" id="order-info-phone">
                                                    </div>
                                                </div>
                                                <div class="Order-info">
                                                    <div class="Order-infoType">E-mail:</div>
                                                    <div class="Order-infoContent"
                                                         id="order-info-email">{{ email|default:'' }}</div>
                                                </div>
                                            </div>
                                            <div class="row-block">
                                                <div class="Order-info Order-info_delivery">
                                                    <div class="Order-infoType">{% trans 'Type of delivery' %}:
                                                    </div>
                                                    <div class="Order-infoContent" id="order-info-delivery">
                                                    </div>
                                                </div>
                                                <div class="Order-info">
                                                    <div class="Order-infoType">{% trans 'City' %}:
                                                    </div>
                                                    <div class="Order-infoContent" id="order-info-city">
                                                    </div>
                                                </div>
                                                <div class="Order-info">
                                                    <div class="Order-infoType">{% trans 'Address' %}:
                                                    </div>
                                                    <div class="Order-infoContent" id="order-info-address">
                                                    </div>
                                                </div>
                                                <div class="Order-info Order-info_pay">
                                                    <div class="Order-infoType">{% trans 'Payment' %}:
                                                    </div>
                                                    <div class="Order-infoContent" id="order-info-payment">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Cart Cart_order">
                                        {% include 'order/order_products_list.html' %}
                                        <div class="comment_block">
                                            <textarea class="form-textarea-order" name="comment"></textarea>
                                        </div>
                                        <div class="Cart-total">
                                            <div class="Cart-block Cart-block_total">
                                                <strong class="Cart-title">{% trans 'Total' %}:
                                                </strong><span
                                                    class="Cart-price">{{ product_data.total_price }} $</span>
                                            </div>
                                            <div class="Cart-block">
                                                <a class="btn btn_primary btn_lg" href="{% url 'cart:detail' %}">
                                                  {% trans 'Cancel' %}
                                                </a>
                                            </div>
                                            <div class="Cart-block">
                                                <button class="btn btn_primary btn_lg" type="submit">{% trans 'Confirm' %}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="not_auth_block">
                <p>
                    {% trans 'Dear user, log in to place an order' %}<br>
                    {% trans 'log in to your profile or register,' %}

                </p>
                <p>
                    {% trans 'all your products will remain in the order after registration.' %}
                </p>
                <div class="non-auth-block-buttons">
                    <a class="non-auth-block-button" href="{% url 'custom_auth:login' %}?next={{ request.path }}">
                        {% trans 'Login' %}</a>
                    <a class="non-auth-block-button" href="{% url 'custom_auth:register' %}">
                        {% trans 'Register' %}</a>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <script src="{% static 'order/js/order_js.js' %}"></script>
{% endblock %}


