{% extends 'core/base.html' %}
{% load static %}
{% load create_correct_delivery_data %}
{% load i18n %}

{% block description %}
    <meta name="description" content="Описание страницы">
{% endblock %}

{% block links %}
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
    <script src="{% static 'assets/plg/CountDown/countdown.js' %}"></script>
{% endblock %}

{% block title %}
    {% trans 'Order' %} №{{ order.pk }}
{% endblock %}

{% block body %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">{% trans 'Order' %} №{{ order.pk }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <div class="Section-content">
                    <div class="Orders">
                    </div>
                    <div class="Order">
                        <div class="Order-infoBlock">
                            <div class="Order-personal">
                                <div class="row">
                                    <div class="row-block">
                                        <div class="Order-info Order-info_date">
                                            <div class="Order-infoType">
                                                {% trans 'Order date' %}:
                                            </div>
                                            <div class="Order-infoContent">
                                                {{ order.created_at }}
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">
                                                {% trans 'BIO' %}:
                                            </div>
                                            <div class="Order-infoContent">
                                                {{ order.name }}
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">
                                                {% trans 'Phone' %}:
                                            </div>
                                            <div class="Order-infoContent">
                                                {{ order.recipient_phone }}
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">
                                                E-mail:
                                            </div>
                                            <div class="Order-infoContent">
                                                {{ order.recipient_email }}
                                            </div>
                                        </div>
                                    </div>
                                    {% get_short_delivery_payment_type order as delivery %}
                                    <div class="row-block">
                                        <div class="Order-info Order-info_delivery">
                                            <div class="Order-infoType">
                                                {% trans 'Type of delivery' %}:
                                            </div>
                                            <div class="Order-infoContent">
                                                {{ delivery|truncatechars:20 }}
                                                {% if order.unique_delivery_types > 1 %}
                                                    <div class="delivery_full_data">
                                                        {% get_full_delivery_payment_type order as seller_delivery %}
                                                        {% for seller, delivery_types in seller_delivery.items %}
                                                            <p>{{ seller }}: {{ delivery_types|join:', ' }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">
                                                {% trans 'City' %}:
                                            </div>
                                            <div class="Order-infoContent">
                                                {{ order.delivery_city }}
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">
                                                {% trans 'Address' %}:
                                            </div>
                                            <div class="Order-infoContent">
                                                {{ order.delivery_address }}
                                            </div>
                                        </div>
                                        <div class="Order-info Order-info_pay">
                                            {% get_short_delivery_payment_type order True as payment %}
                                            <div class="Order-infoType">
                                                {% trans 'Payment' %}:
                                            </div>
                                            <div class="Order-infoContent ">
                                                {{ payment|truncatechars:20 }}
                                                {% if order.unique_payment_types > 1 %}
                                                    <div class="delivery_full_data">
                                                        {% get_full_delivery_payment_type order True as seller_payment %}
                                                        {% for seller, payment_types in seller_payment.items %}
                                                            <p>{{ seller }}: {{ payment_types|join:', ' }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="Order-info Order-info_status">
                                            <div class="Order-infoType">{% trans 'Payment status' %}:
                                            </div>
                                            <div class="Order-infoContent">
                                                {{ order.get_paid_status_display }}
                                            </div>
                                        </div>
                                        <div class="Order-info Order-info_status">
                                            <div class="Order-infoType">{% trans 'Order status' %}:
                                            </div>
                                            <div class="Order-infoContent">
                                                {{ order.get_status_display }}
                                            </div>
                                        </div>
                                        {#                                        <div class="Order-info Order-info_error">#}
                                        {#                                            <div class="Order-infoType">Оплата не прошла:#}
                                        {#                                            </div>#}
                                        {#                                            <div class="Order-infoContent">Оплата не выполнена#}
                                        {#                                            </div>#}
                                        {#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                            {% with order.order_items.all.0.delivery.name as order_type %}
                                {% if order_type == "SS" or order_type == "SE" %}
                                    <div class="Cart Cart_order">
                                        {% for order_item in object.order_items.all %}
                                            <div class="Cart-product">
                                                <div class="Cart-block Cart-block_row">
                                                    <div class="Cart-block Cart-block_pict">
                                                        <a class="Cart-pict"
                                                           href="{{ order_item.product.get_absolute_url }}">
                                                            <img
                                                                    class="Cart-img"
                                                                    src="{{ order_item.product.preview.url }}"
                                                                    alt="card.jpg"/>
                                                        </a>
                                                    </div>
                                                    <div class="Cart-block Cart-block_info">
                                                        <a class="Cart-title"
                                                           href="{{ order_item.product.get_absolute_url }}">
                                                            {{ order_item.product.name|truncatechars:80 }}
                                                        </a>
                                                        <div class="Cart-desc">
                                                            {{ order_item.product.short_description }}
                                                        </div>
                                                        <div class="Cart-desc">
                                                            {% trans 'Seller' %}: {{ order_item.seller.name }}
                                                        </div>
                                                    </div>
                                                    <div class="Cart-block Cart-block_price">
                                                        <div class="Cart-price">
                                                            {{ order_item.price }}$
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="Cart-block Cart-block_row">

                                                    <div class="Cart-block Cart-block_amount">
                                                        {{ order_item.quantity }} {% trans 'qty' %}.
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div class="Cart-total">
                                            <div class="Cart-block Cart-block_total">
                                                <strong class="Cart-title">{% trans 'Total' %}:
                                                    <span class="Cart-price">
                                                {% check_delivery_payment_type order.delivery_price.price order.total_price as delivery_price %}
                                                        {% if delivery_price is False %}
                                                            {{ order.total_price }}$
                                                        {% else %}
                                                            <p>{% trans 'Price' %}: {{ order.total_price }}$ </p>
                                                            <p>{% trans 'Delivery' %}: {{ order.delivery_price.price }}</p>
                                                            <p>{% trans 'Total' %}: {{ delivery_price }}</p>
                                                        {% endif %}
                                            </span>
                                                </strong>
                                            </div>
                                            {% if not order.paid_status == 'PD' %}
                                                <div class="Cart-block">
                                                    <a class="btn btn_primary btn_lg"
                                                       href="{% url 'payment:checkout' order.pk %}">
                                                        {% trans 'To pay' %}
                                                    </a>
                                                </div>
                                            {% else %}
                                                {% get_order_recipes_url order current_receipt_url as receipt_url %}
                                                {% if receipt_url %}
                                                    <div class="Cart-block">
                                                        <a class="btn btn_primary btn_lg"
                                                           href="{{ receipt_url }}">
                                                            {% trans 'Receipt' %}
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="Cart Cart_order">
                                        {% def_get_seller_payment_block order as seller_filter_data %}
                                        {% for seller, value in seller_filter_data.items %}
                                            <p>Продавец: {{ seller }}</p>
                                            {% for product in value.products %}
                                                {% get_price_and_quantity order product seller.name as product_data %}
                                                <div class="Cart-product">
                                                    <div class="Cart-block Cart-block_row">
                                                        <div class="Cart-block Cart-block_pict">
                                                            <a class="Cart-pict"
                                                               href="{{ product.get_absolute_url }}">
                                                                <img
                                                                        class="Cart-img"
                                                                        src="{{ product.preview.url }}"
                                                                        alt="card.jpg"/>
                                                            </a>
                                                        </div>
                                                        <div class="Cart-block Cart-block_info">
                                                            <a class="Cart-title"
                                                               href="{{ product.get_absolute_url }}">
                                                                {{ product.name|truncatechars:80 }}
                                                            </a>
                                                            <div class="Cart-desc">
                                                                {{ product.short_description }}
                                                            </div>
                                                        </div>
                                                        <div class="Cart-block Cart-block_price">
                                                            <div class="Cart-price">
                                                                {{ product_data.0 }}$
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="Cart-block Cart-block_row">

                                                        <div class="Cart-block Cart-block_amount">
                                                            {{ product_data.1 }} шт.
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            {% check_payment_type order seller.name as payment_data %}
                                            <div class="Cart-total">
                                                {% if payment_data %}
                                                    <div class="Cart-block Cart-block_total">
                                                        <strong class="Cart-title">
                                                            {% trans 'Total' %}:
                                                            <span class="Cart-price">
                                                            {{ value.total_price }}$
                                                        </span>
                                                        </strong>
                                                    </div>
                                                    {% if not value.payment_status|all_true %}
                                                        <div class="Cart-block">
                                                            <a class="btn btn_primary btn_lg"
                                                               href="{% url 'payment:checkout_one' order.pk seller.pk %}">
                                                                {% trans 'To pay' %}
                                                            </a>
                                                        </div>
                                                    {% else %}
                                                        {% get_recipes_url order seller.pk current_receipt_url as receipt_url %}
                                                        {% if receipt_url %}
                                                            <div class="Cart-block">
                                                                <a class="btn btn_primary btn_lg"
                                                                   href="{{ receipt_url }}">
                                                                    {% trans 'Receipt' %}
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    <div class="Cart-block Cart-block_total">
                                                        <strong class="Cart-title">
                                                            {% trans 'Total' %}:
                                                            <span class="Cart-price">
                                                            {% trans 'Online payment is not required' %}
                                                        </span>
                                                        </strong>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
{% endblock %}