{% extends 'core/base.html' %}
{% load static %}

{% block links %}
    <!--    <title>Megano</title>-->
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/utils.css' %}">
    <script src="{% static 'assets/plg/CountDown/countdown.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

{% endblock %}

{% block body %}
  <div class="Section-content">
    <div class="Orders">
      <div class="Order Order_anons">
        <div class="Order-personal">
          <div class="col">
            {% for order in orders %}
            <div class="row-block col-mt"><a class="Order-title" href="{% url 'order:order_detail' pk=order.pk %}">Заказ&#32;<span class="Order-numberOrder">{{ order.pk }}</span>&#32;от&#32;<span class="Order-dateOrder">{{ order.created_at }}</span></a></div>
              <div>
                <div class="row-block">
                  <div class="Order-info Order-info_delivery text-ml">
                    <div class="Order-infoType">Тип доставки:</div>
                    <div class="Order-infoContent">{{ order.delivery_method }}</div>
                  </div>
                  <div class="Order-info Order-info_pay text-ml">
                    <div class="Order-infoType">Оплата:</div>
                    <div class="Order-infoContent">{{ order.payment_method }}</div>
                  </div>
                  <div class="Order-info text-ml">
                    <div class="Order-infoType">Общая стоимость:</div>
                    <div class="Order-infoContent"><span class="Order-price">{{ order.total_price }}</span></div>
                  </div>
                  <div class="Order-info Order-info_status text-ml">
                    <div class="Order-infoType">Статус:</div>
                    <div class="Order-infoContent">{{ order.status }}</div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>



  {% block script %}
        <!--+Middle-->
    <!--    +div.-top-->
    <!--        +breadcrumbs('Главная','Портфолио')-->
    <!--    +Article('portfolio')-->
    <!---->
    <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('#phone').mask('+7 (999) 999-99-99');
        });
    </script>
  {% endblock %}

{% endblock %}
