{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Импорт
{% endblock %}


{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Импорт продукта</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="files">Выбрать файлы:</label>
        <input type="file" id="files" name="files" multiple><br><br>

        <button type="submit">Импорт</button>
    </form>
</body>
</html>

{% endblock %}